<div class="row">
  <div class="col s6">
    <label>Código IBGE</label>
    <input placeholder="Código IBGE" id="codigo" [(ngModel)]="pais.codigo" type="text">
  </div>
  <div class="col s6">
    <label>Descrição</label>
    <input placeholder="Descrição" id="pais" [(ngModel)]="pais.descricao" type="text">
  </div>
  <div class="col s6">
    <label>Sigla</label>
    <input placeholder="Sigla" id="sigla" [(ngModel)]="pais.sigla2letras" type="text">
  </div>
  <div class="col s6">
    <label>Sigla 3 letras</label>
  <input placeholder="Sigla 3 letras" id="sigla 3" [(ngModel)]="pais.sigla3letras" type="text">
  </div>
</div>
<footer class="page-footer">
  <div class="container" style="text-align: right">
    <a class="waves-effect waves-light btn" (click)="salvar()"><i class="material-icons left">done</i>Salvar</a>
    <a class="waves-effect waves-light btn" [routerLink]="['/list', entidade]"><i class="material-icons left">skip_previous</i>Voltar</a>
    <br />
    <br />
  </div>
</footer>
